<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">

    <!-- Dynamic - change in controllers -->
    <title>Marker Maker | Web Informatics & Mapping</title>
    <meta name="description" content="Generate CSS map markers for Leaflet maps.">
    <meta name="author" content="Mitch Samuels">
    <meta name="keywords" content="Leaflet, mapping, maps, marker, css, icons, water, streamstats, WIM, USGS">
    <meta name="theme-color" content="#4887F4">
    <base href="/">

    <!-- Static Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="Mitch Samuels">
    <link rel="shortcut icon" id="favicon" type="image/ico" href="/assets/branding/favicon.png" />

    <!-- Social Media Meta -->
    <!-- Facebook -->
    <meta property="og:title" content="Marker Maker.">
    <meta property="og:description" content="Generate CSS icons to use with Leaflet maps.">
    <meta property="og:image" content="https://wim.usgs.gov/markermaker/assets/branding/meta/fb-all.png">
    <meta property="og:url" content="https://wim.usgs.gov/markermaker">

    <!-- Twitter -->
    <meta name="twitter:title" content="Marker Maker.">
    <meta name="twitter:description" content="Generate CSS icons to use with Leaflet maps.">
    <meta name="twitter:image" content="https://wim.usgs.gov/markermaker/assets/branding/meta/tw-all.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Leaflet Marker Maker">

    <!-- Mobile App Meta -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Marker Maker">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!--build:css css/main.css-->
    <!-- Styles -->
    <link rel="stylesheet" href="stylesheets/css/main.css" />
    <!--endbuild-->

    <!--build:css css/markers.css-->
    <!-- Styles -->
    <link rel="stylesheet" href="stylesheets/css/markers.css" />
    <!--endbuild-->

    <!--build:js /app.js -->
    <!-- SCRIPTS -->
    <script src="scripts/vendor/jquery-3.3.1.min.js"></script>
    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/vendor/angular-route.min.js"></script>
    
    <!-- Main App.js -->
    <script src="app.js"></script>
    <!-- endbuild -->

    <!-- Leaflet imports -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>
 

</head>
<body ng-controller="mainController">
        
    <div id="mapid"></div>
    
    
    <div>
		<span id="bodyWrapper">
			<div class="optionsDisplay">
		  
				<img src="/assets/branding/wimlogo.png" class="sidebarLogo"/>
			  
				<!-- Basemap -->
				<!-- Basemap -->
				<!-- Basemap -->
				<div class="sidebarHeader">Basemap <em>(for preview)</em></div>
				<div class="basemapSelector">
				  <button class="selectBM active" ng-click="changeBaseMap(1);">Open Street</button>
				  <button class="selectBM" ng-click="changeBaseMap(2);">World Street</button>
				  <button class="selectBM" ng-click="changeBaseMap(3);">World Imagery</button>
				</div>
			  
				<!-- Marker shape -->
				<!-- Marker shape -->
				<!-- Marker shape -->
				<div class="sidebarHeader">Marker Shape</div>
				<div class="optionSelector">
				  <button class="select-marker-shape" ng-class="{'active': markerShape == 'wmm-pin'}" ng-click="changeMarkerShape('pin')"></button>
				  <button class="select-marker-shape" ng-class="{'active': markerShape == 'wmm-circle'}" ng-click="changeMarkerShape('circle')"></button>
				  <button class="select-marker-shape" ng-class="{'active': markerShape == 'wmm-square'}" ng-click="changeMarkerShape('square')"></button>
				  <button class="select-marker-shape" ng-class="{'active': markerShape == 'wmm-triangle'}" ng-click="changeMarkerShape('triangle')"></button>
				  <button class="select-marker-shape" ng-class="{'active': markerShape == 'wmm-diamond'}" ng-click="changeMarkerShape('diamond')"></button>
		  
				  <div class="flexgrow"></div>
		  
				  <!-- hide Border -->
				  <button id="borderToggleButton" ng-click="hideBorder = !hideBorder; updateMarkerClasses();" ng-hide="markerShape == 'wmm-triangle'">
					<span ng-if="hideBorder">Show Borders</span>
					<span ng-if="!hideBorder">Hide Borders</span>
				  </button>
				</div>
		  
		  
				<!-- Background Colors -->
				<!-- Background Colors -->
				<!-- Background Colors -->
				<div class="sidebarHeader">Marker Color</div>
				<div class="optionSelector">
		  
				  <!-- Basic colors -->
				  <div class="option-selector-header">Basic</div>
				  <div class="colorPaletteBasic">
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-red'}" ng-click="changeMarkerBackground('red')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-green'}" ng-click="changeMarkerBackground('green')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-blue'}" ng-click="changeMarkerBackground('blue')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-orange'}" ng-click="changeMarkerBackground('orange')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-yellow'}" ng-click="changeMarkerBackground('yellow')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-purple'}" ng-click="changeMarkerBackground('purple')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-black'}" ng-click="changeMarkerBackground('black')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-white'}" ng-click="changeMarkerBackground('white')"></button>
				  </div>
		  
				  <!-- Alternative colors -->
				  <div class="option-selector-header">Alternative</div>
				  <div class="colorPaletteAlt">
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-altred'}" ng-click="changeMarkerBackground('altred')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-darkred'}" ng-click="changeMarkerBackground('darkred')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-altorange'}" ng-click="changeMarkerBackground('altorange')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-lime'}" ng-click="changeMarkerBackground('lime')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-sky'}" ng-click="changeMarkerBackground('sky')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-altblue'}" ng-click="changeMarkerBackground('altblue')"></button>
				  </div>
		  
				  <!-- Muted colors -->
				  <div class="option-selector-header">Muted</div>
				  <div class="colorPaletteMuted">
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-mutedred'}" ng-click="changeMarkerBackground('mutedred')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-mutedgreen'}" ng-click="changeMarkerBackground('mutedgreen')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-mutedblue'}" ng-click="changeMarkerBackground('mutedblue')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-mutedorange'}" ng-click="changeMarkerBackground('mutedorange')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-mutedyellow'}" ng-click="changeMarkerBackground('mutedyellow')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-mutedpurple'}" ng-click="changeMarkerBackground('mutedpurple')"></button>
					<button class="select-marker-background" ng-class="{'active': markerBackgroundColor == 'wmm-mutedpink'}" ng-click="changeMarkerBackground('mutedpink')"></button>
				  </div>
		  
				  <!-- Custom background color -->
				  <div class="option-selector-header">Custom</div>
				  <div class="custom-color-picker">
					<b>#</b>
					<input ng-model="customMarkerBackgroundColor" type="text" ng-change="customMarkerBG();" maxlength="6"/>
				  </div>
				  <style class="custom-bg-css"></style>
				  <div class="options-output" ng-show="customMarkerBackgroundColor.length > 2">
					<code class="custom-bg-css">
		  
					</code>
				  </div>
				  <small ng-show="customMarkerBackgroundColor.length > 2">Add the CSS above to your project's own stylesheet. Custom colors are not included in the markers.css file.</small>
				</div>
		  
				<!-- Icons -->
				<!-- Icons -->
				<!-- Icons -->
				<div class="sidebarHeader" ng-hide="markerShape == 'wmm-triangle'">Marker Icon</div>
				<div class="optionSelector" ng-hide="markerShape == 'wmm-triangle'">
				  <button class="select-marker-icon" ng-class="{'active': markerIcon == 'wmm-icon-noicon'}" ng-click="changeMarkerIcon('noicon')"></button>
				  <button class="select-marker-icon" ng-class="{'active': markerIcon == 'wmm-icon-circle'}" ng-click="changeMarkerIcon('circle')"></button>
				  <button class="select-marker-icon" ng-class="{'active': markerIcon == 'wmm-icon-square'}" ng-click="changeMarkerIcon('square')"></button>
				  <button class="select-marker-icon" ng-class="{'active': markerIcon == 'wmm-icon-triangle'}" ng-click="changeMarkerIcon('triangle')"></button>
				  <button class="select-marker-icon" ng-class="{'active': markerIcon == 'wmm-icon-diamond'}" ng-click="changeMarkerIcon('diamond')"></button>
				</div>
			  
				<!-- Icons -->
				<!-- Icons -->
				<!-- Icons -->
				<div class="sidebarHeader" ng-hide="markerShape == 'wmm-triangle'">Icon Color</div>
				<div class="optionSelector" ng-hide="markerShape == 'wmm-triangle'">
				  <button class="select-marker-icon-color" ng-class="{'active': markerIconColor == 'wmm-icon-red'}" ng-click="changeMarkerIconColor('red')"></button>
				  <button class="select-marker-icon-color" ng-class="{'active': markerIconColor == 'wmm-icon-green'}" ng-click="changeMarkerIconColor('green')"></button>
				  <button class="select-marker-icon-color" ng-class="{'active': markerIconColor == 'wmm-icon-blue'}" ng-click="changeMarkerIconColor('blue')"></button>
				  <button class="select-marker-icon-color" ng-class="{'active': markerIconColor == 'wmm-icon-orange'}" ng-click="changeMarkerIconColor('orange')"></button>
				  <button class="select-marker-icon-color" ng-class="{'active': markerIconColor == 'wmm-icon-yellow'}" ng-click="changeMarkerIconColor('yellow')"></button>
				  <button class="select-marker-icon-color" ng-class="{'active': markerIconColor == 'wmm-icon-purple'}" ng-click="changeMarkerIconColor('purple')"></button>
				  <button class="select-marker-icon-color" ng-class="{'active': markerIconColor == 'wmm-icon-black'}" ng-click="changeMarkerIconColor('black')"></button>
				  <button class="select-marker-icon-color" ng-class="{'active': markerIconColor == 'wmm-icon-white'}" ng-click="changeMarkerIconColor('white')"></button>
		  
		  
				  <!-- Custom background color -->
				  <div class="option-selector-header" ng-hide="markerIcon == 'wmm-icon-triangle'">Custom</div>
				  <div class="custom-color-picker" ng-hide="markerIcon == 'wmm-icon-triangle'">
					<b>#</b>
					<input ng-model="customIconColor" type="text" ng-change="customIconBG();" maxlength="6"/>
				  </div>
				  <style class="custom-icon-css"></style>
				  <div class="options-output" ng-show="customIconColor.length > 2">
					<code class="custom-icon-css">
		  
					</code>
				  </div>
				  <small ng-show="customIconColor.length > 2">Add the CSS above to your project's own stylesheet. Custom colors are not included in the markers.css file.</small>
		  
				</div>
			  
				<!-- Size -->
				<!-- Size -->
				<!-- Size -->
				<div class="sidebarHeader">Marker Size</div>
				<div class="optionSelector">
				  <button class="select-marker-size" ng-class="{'active': markerSize == 'wmm-size-15'}" ng-click="changeMarkerSize('15')">15</button>
				  <button class="select-marker-size" ng-class="{'active': markerSize == 'wmm-size-20'}" ng-click="changeMarkerSize('20')">20</button>
				  <button class="select-marker-size" ng-class="{'active': markerSize == 'wmm-size-25'}" ng-click="changeMarkerSize('25')">25</button>
				  <button class="select-marker-size" ng-class="{'active': markerSize == 'wmm-size-30'}" ng-click="changeMarkerSize('30')">30</button>
				  <button class="select-marker-size" ng-class="{'active': markerSize == 'wmm-size-35'}" ng-click="changeMarkerSize('35')">35</button>
				</div>
			  
			  
				<!-- Output -->
				<!-- Output -->
				<!-- Output -->
				<div class="sidebarHeader">Marker Div Classes</div>
				<div class="options-output">
				  <code>{{markerClasses}}</code>
				</div>
			  
			  
				<div class="sidebarHeader">CSS File</div>
				<div class="options-output">
				  <code><a href="https://raw.githubusercontent.com/USGS-WiM/marker-creator/master/app/stylesheets/css/markers.css" target="_blank">https://raw.githubusercontent.com/USGS-WiM/marker-creator/master/public/css/markers.css</a></code>
				</div>
				<small>Import the above CSS file in your project for testing and use the <u>Marker Div Classes</u> with Leaflet .divIcon to add them to your maps.</small>
			  
			</div>
		</span>
			  
	</div>

    <script>
      
    </script>


</body>
</html>
