// compileCompressed: ../app.css

//
// main.scss - non-marker related styles
//

@import "variables.scss";


body{
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 35px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

*{
  outline: none;
}
button:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.1s;
}

// Main sidebar
.optionsDisplay{
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  width: 400px;
  margin-bottom: 70px;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  border-right: 2px solid black;
  height: 100vh;
  overflow-x: scroll;
}

// Sidebar Header
.sidebarHeader{
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  padding: 10px 0 5px 0;
  font-size: 14px;
  font-weight: bolder;
  text-align: left;
}

/*
  Basemap Selection Buttons
*/
.basemapSelector{
  display: flex;
  justify-content: space-between;
}
.basemapSelector button{
  width: 31.33%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: transparent;
  border: 2px solid #1C1C1C;
}
.basemapSelector button:hover{
  background-color: #f1f1f1;
}
.basemapSelector button.active{
  background-color: #1C1C1C;
  color: white;
}

/*
  Customization buttons
*/
.optionSelector{
  display: flex;
  flex-wrap: wrap;
  button{
    border: 2px solid black;
    height: 30px;
    width: 30px;
    transition: 0.2s;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    .active{
      border-radius: 50%;
      transition: 0.22s;
    }
  }
  .optionSelectorHeader{
    display: block;
    width: 100%;
    letter-spacing: -0.4px;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0 0 5px 0;
    &:before{
      content: '\2014 ';
      position: relative;
      top: -1px;
      margin-right: 1px;
      display: inline-block;
    }
  }
}

// Marker shape
// Marker shape
// Marker shape
.selectMarkerShape.active{
  background-color: $black !important;
  &:after,{
    background-color: $black !important;
    border-bottom-color: $black !important;
  }
}
// Pin
.selectMarkerShape:nth-child(1){
  content: '';
  display: block;
  transition: 0.1s;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 0;
  height: 24px;
  width: 24px;
  transform: scale(45deg);
  background-color: white;
  box-sizing: border-box;
  position: relative;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  &:hover{
    transform: rotate(45deg) scale(1.05);
  }
}
// Circle
.selectMarkerShape:nth-child(2){
  border-radius: 50%;
  background-color: white;
  border-width: 2px;
}
// Square
.selectMarkerShape:nth-child(3){
  background-color: white;
  border-width: 2px;
}
// Triangle
.selectMarkerShape:nth-child(4){
  height: 0px;
  width: 0px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 28px solid black;
  border-top: none !important;
  background-color: transparent !important;
  background-color: transparent;
  position: relative;
  top: 1px;
  padding: 0;
  &:after{
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 22px solid white;
    border-top: none !important;
    background-color: transparent !important;
    background-color: transparent;
    position: absolute;
    margin-left: -12px;
    margin-top: 3px;
    top: 1px;
    content: '';
    padding: 0;
  }
}
// Diamond
.selectMarkerShape:nth-child(5){
  background-color: white;
  border-width: 2px;
  transform: rotate(45deg) scale(1);
  width: 24px;
  height: 24px;
  position: relative;
  top: 2px;
  &:hover{
    transform: rotate(45deg) scale(1.05);
  }
}



// Marker background color
// Marker background color
// Marker background color
.selectMarkerBackground.active{
  border-radius: 50%;
}
// Basic colors
.selectMarkerBackground:nth-child(1){background-color: $red;}
.selectMarkerBackground:nth-child(2){background-color: $green;}
.selectMarkerBackground:nth-child(3){background-color: $blue;}
.selectMarkerBackground:nth-child(4){background-color: $orange;}
.selectMarkerBackground:nth-child(5){background-color: $yellow;}
.selectMarkerBackground:nth-child(6){background-color: $purple;}
.selectMarkerBackground:nth-child(7){background-color: $black;}
.selectMarkerBackground:nth-child(8){background-color: $white;}
// Alternative colors
.colorPaletteAlt .selectMarkerBackground:nth-child(1){background-color: $altRed;}
.colorPaletteAlt .selectMarkerBackground:nth-child(2){background-color: $altDarkRed;}
.colorPaletteAlt .selectMarkerBackground:nth-child(3){background-color: $altOrange;}
.colorPaletteAlt .selectMarkerBackground:nth-child(4){background-color: $altLime;}
.colorPaletteAlt .selectMarkerBackground:nth-child(5){background-color: $altSky;}
.colorPaletteAlt .selectMarkerBackground:nth-child(6){background-color: $altBlue;}
// Muted colors
.colorPaletteMuted .selectMarkerBackground:nth-child(1){background-color: $mutedRed;}
.colorPaletteMuted .selectMarkerBackground:nth-child(2){background-color: $mutedGreen;}
.colorPaletteMuted .selectMarkerBackground:nth-child(3){background-color: $mutedBlue;}
.colorPaletteMuted .selectMarkerBackground:nth-child(4){background-color: $mutedOrange;}
.colorPaletteMuted .selectMarkerBackground:nth-child(5){background-color: $mutedYellow;}
.colorPaletteMuted .selectMarkerBackground:nth-child(6){background-color: $mutedPurple;}
.colorPaletteMuted .selectMarkerBackground:nth-child(7){background-color: $mutedPink;}




// Marker icons
// Marker icons
// Marker icons
.selectMarkerIcon.active{
  border-radius: 50%;
}
.selectMarkerIcon{
  background-color: white;
}
// None
.selectMarkerIcon:nth-child(1):before{
  content: '';
  display: block;
  width: 27px;
  height: 2px;
  margin-top: 1px;
  background-color: black;
  margin-left: -6px;
  transform: rotate(-45deg);
}
// Circle
.selectMarkerIcon:nth-child(2):before{
  content: '';
  height: 14px;
  width: 14px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  margin-left: -7px;
  margin-top: -7px;
}
// Square
.selectMarkerIcon:nth-child(3):before{
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  background-color: black;
  margin-left: -7px;
  margin-top: -7px;
}
// Triangle
.selectMarkerIcon:nth-child(4):before{
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid black;
  background-color: transparent;
  margin-left: -7px;
  margin-top: -7px;
}


// Marker icon color
// Marker icon color
// Marker icon color
.selectMarkerIconColor.active{
  border-radius: 50%;
}
.selectMarkerIconColor:nth-child(1){background-color: $red;}
.selectMarkerIconColor:nth-child(2){background-color: $green;}
.selectMarkerIconColor:nth-child(3){background-color: $blue;}
.selectMarkerIconColor:nth-child(4){background-color: $orange;}
.selectMarkerIconColor:nth-child(5){background-color: $yellow;}
.selectMarkerIconColor:nth-child(6){background-color: $purple;}
.selectMarkerIconColor:nth-child(7){background-color: $black;}
.selectMarkerIconColor:nth-child(8){background-color: $white;}


// Marker size
// Marker size
// Marker size
.selectMarkerSize.active{
  border-radius: 50%;
}
.selectMarkerSize{
  background-color: white;
  font-weight: bolder;
  text-align: center;
  padding: 0;
}
.selectMarkerSize:nth-child(1){
  height: 16px;
  width: 15px;
  max-width: 15px;
  font-size: 7px;
}
.selectMarkerSize:nth-child(2){
  height: 20px;
  width: 20px;
  font-size: 8px;
}
.selectMarkerSize:nth-child(3){
  height: 25px;
  width: 25px;
  font-size: 9px;
}
.selectMarkerSize:nth-child(4){
  height: 30px;
  width: 30px;
  font-size: 10px;
}
.selectMarkerSize:nth-child(5){
  height: 35px;
  width: 35px;
  font-size: 11px;
}




// Misc
// Misc
// Misc
.optionsOutput{
  display: block;
  text-align: left;
  line-height: 26px;
  background-color: black;
  box-sizing: border-box;
  padding: 8px;
}
code{
  text-align: left;
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 5px 0 0 0;
  border-radius: 3px;
}

/*Leaflet*/
#mapid {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  width: calc(100vw - 400px);
  height: 100vh;
}

.leaflet-top{
  display: none;
}
