// compileCompressed: ../markers.css

//
// markers.scss - only marker related styles - needed to import for project
//

@import "variables.scss";

// Outer marker wrapper
.wim-map-marker{
  display: block;
  /*transition: 0.1s;
  border: 3px solid rgba(0,0,0,0.5);
  background-color: white;
  margin: 0 auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  height: 24px !important;
  width: 20px !important;
  overflow: hidden;
}
.wim-map-marker:hover{
  transition: 0.1s;
}

// Inner marker shape
.wim-map-marker:after{
  content: '';
  display: block;
  transition: 0.1s;
  border: 3px solid rgba(0,0,0,0.5);
  background-color: white;
  margin: 0 auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 20px !important;
  width: 20px !important;
  transform: scale(45deg);
  box-sizing: border-box;

  position: relative;
  // margin-top: -20px;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

// Icon inside marker
.wim-map-marker:before{
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  box-sizing: border-box;
  position: relative;
  z-index: 500;
}


/*Background colors*/
.wmm-red:after{
  background-color: $red;
}
.wmm-green:after{
  background-color: $green;
}
.wmm-blue:after{
  background-color: $blue;
}
.wmm-orange:after{
  background-color: $orange;
}
.wmm-yellow:after{
  background-color: $yellow;
}
.wmm-purple:after{
  background-color: $purple;
}
.wmm-black:after{
  background-color: $black;
}
.wmm-white:after{
  background-color: $white;
}


/*Icon Colors*/
.wmm-icon-red:before{
  background-color: $red;
  border-color: $red;
}
.wmm-icon-green:before{
  background-color: $green;
  border-color: $green;
}
.wmm-icon-blue:before{
  background-color: $blue;
  border-color: $blue;
}
.wmm-icon-orange:before{
  background-color: $orange;
  border-color: $orange;
}
.wmm-icon-yellow:before{
  background-color: $yellow;
  border-color: $yellow;
}
.wmm-icon-purple:before{
  background-color: $purple;
  border-color: $purple;
}
.wmm-icon-black:before{
  background-color: $black;
  border-color: $black;
}
.wmm-icon-white:before{
  background-color: $white;
  border-color: $white;
}


/*Icons*/
.wmm-circle:before{
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  margin-top: 6px;
  margin-left: 6px;
}
.wmm-triangle:before{
  content: '';
  height: 0px;
  width: 0px;
  background-color: transparent !important;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid white;
  background-color: transparent;
  margin-left: 6px;
  margin-top: 5px;
}
.wmm-square:before{
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  margin-left: 6px;
  margin-top: 6px;
}
