// compileCompressed: ../markers.css

//
// markers.scss - only marker related styles - needed to import for project
//

@import "variables.scss";

// Leaflet default overwrites
.leaflet-marker-icon:before{
  right: auto !important;
  bottom: auto !important;
  height: auto;
  width: auto;
  box-shadow: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}


// Outer marker wrapper
.wim-map-marker{
  display: block;
  overflow: hidden;
  position: relative;

  &:hover{
    transition: 0.1s;
  }

  // Inner marker (shape, icon, etc)
  &:after{
    content: '';
    display: block;
    transition: 0.1s;
    border: 3px solid rgba(0,0,0,0.5);
    background-color: white;
    margin: 0 auto;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: scale(45deg);
    box-sizing: border-box;

    position: relative;
    // margin-top: -20px;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }

  // Actual Icon
  &:before{
      height: 20px;
      width: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-weight: bolder;
      box-sizing: border-box;
      position: relative;
      z-index: 500;
  }
}


/*
Background colors
Background colors
Background colors
*/

// Base Colors
.wmm-black:after{background-color: $black;}
.wmm-white:after{background-color: $white;}

// Vibrant colors
.wmm-red:after{background-color: $red;}
.wmm-green:after{background-color: $green;}
.wmm-blue:after{background-color: $blue;}
.wmm-orange:after{background-color: $orange;}.wmm-yellow:after{background-color: $yellow;}
.wmm-purple:after{background-color: $purple;}

// Alt colors
.wmm-altred:after{background-color: $altRed;}
.wmm-darkred:after{background-color: $altDarkRed;}
.wmm-altorange:after{background-color: $altOrange;}
.wmm-lime:after{background-color: $altLime;}
.wmm-sky:after{background-color: $altSky;}
.wmm-altblue:after{background-color: $altBlue;}

// Muted colors
.wmm-mutedred:after{background-color: $mutedRed;}
.wmm-mutedgreen:after{background-color: $mutedGreen;}
.wmm-mutedblue:after{background-color: $mutedBlue;}
.wmm-mutedorange:after{background-color: $mutedOrange;}
.wmm-mutedyellow:after{background-color: $mutedYellow;}
.wmm-mutedpurple:after{background-color: $mutedPurple;}
.wmm-mutedpink:after{background-color: $mutedPink;}



/*
Icon Colors
Icon Colors
Icon Colors
*/
.wmm-icon-red:before{
  background-color: $red;
  border-color: $red;
}
.wmm-icon-green:before{
  background-color: $green;
  border-color: $green;
}
.wmm-icon-blue:before{
  background-color: $blue;
  border-color: $blue;
}
.wmm-icon-orange:before{
  background-color: $orange;
  border-color: $orange;
}
.wmm-icon-yellow:before{
  background-color: $yellow;
  border-color: $yellow;
}
.wmm-icon-purple:before{
  background-color: $purple;
  border-color: $purple;
}
.wmm-icon-black:before{
  background-color: $black;
  border-color: $black;
}
.wmm-icon-white:before{
  background-color: $white;
  border-color: $white;
}



/*
Icons
Icons
Icons
*/
.wmm-noicon:before{
  content: '';
  display: none;
}
.wmm-circle:before{
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
}
.wmm-triangle:before{
  content: '';
  height: 0px;
  width: 0px;
  background-color: transparent !important;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid white;
  background-color: transparent;
  margin-left: 6px;
  margin-top: 5px;
}
.wmm-square:before{
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
}


/*
Marker size
Marker size
Marker size
*/
.wmm-size-15{
  height: 19px !important;
  width: 15px !important;
  margin-top: -8px !important;
  margin-left: -7px !important;

  &:after{
    height: 15px !important;
    width: 15px !important;
  }

  // Icons
  &.wmm-circle:before{
    height: 5px;
    width: 5px;
    margin: 5px 0 0 5px;
  }
  &.wmm-square:before{
    height: 5px;
    width: 5px;
    margin: 5px 0 0 5px;
  }
}

.wmm-size-20{
  height: 24px !important;
  width: 20px !important;
  margin-top: -12px !important;
  margin-left: -10px !important;

  &:after{
    height: 20px !important;
    width: 20px !important;
  }

  // Icons
  &.wmm-circle:before{
    height: 8px;
    width: 8px;
    margin: 6px 0 0 6px;
  }
  &.wmm-square:before{
    height: 8px;
    width: 8px;
    margin: 6px 0 0 6px;
  }
}

.wmm-size-25{
  height: 30px !important;
  width: 25px !important;
  margin-top: -17px !important;
  margin-left: -13px !important;

  &:after{
    height: 25px !important;
    width: 25px !important;
  }

  // Icons
  &.wmm-circle:before{
    height: 11px;
    width: 11px;
    margin: 7px 0 0 7px;
  }
  &.wmm-square:before{
    height: 9px;
    width: 9px;
    margin: 8px 0 0 8px;
  }
}

.wmm-size-30{
  height: 36px !important;
  width: 30px !important;
  margin-top: -22px !important;
  margin-left: -15px !important;

  &:after{
    height: 30px !important;
    width: 30px !important;
  }

  // Icons
  &.wmm-circle:before{
    height: 14px;
    width: 14px;
    margin: 8px 0 0 8px;
  }
  &.wmm-square:before{
    height: 12px;
    width: 12px;
    margin: 9px 0 0 9px;
  }
}

.wmm-size-35{
  height: 42px !important;
  width: 35px !important;
  margin-top: -26px !important;
  margin-left: -18px !important;

  &:after{
    height: 35px !important;
    width: 35px !important;
  }

  // Icons
  &.wmm-circle:before{
    height: 19px;
    width: 19px;
    margin: 8px 0 0 8px;
  }
  &.wmm-square:before{
    height: 15px;
    width: 15px;
    margin: 10px 0 0 10px;
  }
}
