<div class="optionsDisplay">

  <img src="assets/branding/wimlogo.png" class="sidebarLogo"/>

  <!-- Basemap -->
  <div class="sidebarHeader">Basemap (for preview)</div>
  <div class="basemapSelector">
    <button class="selectBM active" onclick="changeBasemap(1);">Open Street</button>
    <button class="selectBM" onclick="changeBasemap(2);">World Street</button>
    <button class="selectBM" id="what" onclick="changeBasemap(3);">World Imagery</button>
  </div>

  <!-- Marker shape -->
  <div class="sidebarHeader">Marker Shape</div>
  <div class="optionSelector">
    <button class="selectMarkerShape active" ng-click="changeMarkerShape('pin', 0)"></button>
    <button class="selectMarkerShape" ng-click="changeMarkerShape('circle', 1)"></button>
    <button class="selectMarkerShape" ng-click="changeMarkerShape('square', 2)"></button>
    <button class="selectMarkerShape" ng-click="changeMarkerShape('triangle', 3)"></button>
    <button class="selectMarkerShape" ng-click="changeMarkerShape('diamond', 4)"></button>
  </div>

  <!-- Background Colors -->
  <div class="sidebarHeader">Marker Background Color</div>
  <div class="optionSelector">
    <div class="optionSelectorHeader">Basic</div>
    <div class="colorPaletteBasic">
      <button class="selectMarkerBackground active" ng-click="changeMarkerBackground('red', 0)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('green', 1)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('blue', 2)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('orange', 3)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('yellow', 4)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('purple', 5)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('black', 6)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('white', 7)"></button>
    </div>
    <div class="optionSelectorHeader">Alternative</div>
    <div class="colorPaletteAlt">
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('altred', 8)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('darkred', 9)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('altorange', 10)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('lime', 11)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('sky', 12)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('altblue', 13)"></button>
    </div>
    <div class="optionSelectorHeader">Muted</div>
    <div class="colorPaletteMuted">
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('mutedred', 14)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('mutedgreen', 15)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('mutedblue', 16)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('mutedorange', 17)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('mutedyellow', 18)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('mutedpurple', 19)"></button>
      <button class="selectMarkerBackground" ng-click="changeMarkerBackground('mutedpink', 20)"></button>
    </div>
  </div>

  <!-- Icons -->
  <div class="sidebarHeader">Marker Icon</div>
  <div class="optionSelector" ng-hide="markerShape == 'wmm-triangle'">
    <button class="selectMarkerIcon" ng-click="changeMarkerIcon('noicon', 0)"></button>
    <button class="selectMarkerIcon active" ng-click="changeMarkerIcon('circle', 1)"></button>
    <button class="selectMarkerIcon" ng-click="changeMarkerIcon('square', 2)"></button>
    <button class="selectMarkerIcon" ng-click="changeMarkerIcon('triangle', 3)"></button>
    <button class="selectMarkerIcon" ng-click="changeMarkerIcon('diamond', 4)"></button>
  </div>
  <div class="sectionMessage" ng-show="markerShape == 'wmm-triangle'">Icons not available for triangles</div>

  <!-- Icons -->
  <div class="sidebarHeader">Icon Color</div>
  <div class="optionSelector">
    <button class="selectMarkerIconColor" ng-click="changeMarkerIconColor('red', 0)"></button>
    <button class="selectMarkerIconColor" ng-click="changeMarkerIconColor('green', 1)"></button>
    <button class="selectMarkerIconColor" ng-click="changeMarkerIconColor('blue', 2)"></button>
    <button class="selectMarkerIconColor" ng-click="changeMarkerIconColor('orange', 3)"></button>
    <button class="selectMarkerIconColor" ng-click="changeMarkerIconColor('yellow', 4)"></button>
    <button class="selectMarkerIconColor" ng-click="changeMarkerIconColor('purple', 5)"></button>
    <button class="selectMarkerIconColor" ng-click="changeMarkerIconColor('black', 6)"></button>
    <button class="selectMarkerIconColor active" ng-click="changeMarkerIconColor('white', 7)"></button>
  </div>

  <!-- Size -->
  <div class="sidebarHeader">Marker Size</div>
  <div class="optionSelector">
    <button class="selectMarkerSize" ng-click="changeMarkerSize('15', 0)">15</button>
    <button class="selectMarkerSize" ng-click="changeMarkerSize('20', 1)">20</button>
    <button class="selectMarkerSize active" ng-click="changeMarkerSize('25', 2)">25</button>
    <button class="selectMarkerSize" ng-click="changeMarkerSize('30', 3)">30</button>
    <button class="selectMarkerSize" ng-click="changeMarkerSize('35', 4)">35</button>
  </div>


  <!-- Output -->
  <div class="sidebarHeader">Marker Div Classes</div>
  <div class="optionsOutput">
    <code>{{markerClasses}}</code>
  </div>

  <br/>

  <div class="sidebarHeader">CSS File</div>
  <div class="optionsOutput">
    <code>https://rawgit.com/USGS-WiM/marker-creator/master/stylesheets/markers.css</code>
  </div>
  <br/>
  <div class="sectionMessage">Import the above CSS file in your project for testing and use the <u>Marker Div Classes</u> with Leaflet .divIcon to add them to your maps.</div>

</div>
